<div class="container">
    <div class="title-container">
      <h1>Lista de Reuniones</h1>
    </div>
  
    <div class="card-container" >
      <mat-card *ngFor="let element of dataSource.data">
        <mat-card-header>
          <mat-card-title>{{ element.studentId.username }}</mat-card-title>
          <mat-card-title>{{ element.idmeetSchedule.weekDay }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Código del horario: {{ element.idMeet }}</p>
          <p>Nombre del coach: {{ element.idmeetSchedule.userCoach.username }}</p>
          <p>Hora de inicio: {{ element.idmeetSchedule.startHour }}</p>
          <p>Hora de fin: {{ element.idmeetSchedule.finishHour }}</p>

          <div class="button-container-right">
            <button
              mat-raised-button
              color="primary"
              *ngIf="isSTUDENT()"
              [routerLink]="['ediciones-reuniones', element.idMeet]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="eliminar(element.idMeet)"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
  