<div class="container">
    <div class="title-container">
      <h1>Lista de Tipo de Interacciones</h1>
    </div>
  
    <div class="card-container" >
      <mat-card *ngFor="let element of dataSource.data">
        <mat-card-header>
          <mat-card-title>{{ element.type }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Código: {{ element.id }}</p>
          <div class="button-container-right">
            <button
              mat-raised-button
              color="primary"
              *ngIf="isADMIN()"
              [routerLink]="['ediciones-tipo-interacciones', element.id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-raised-button
              color="warn"
              *ngIf="isADMIN()"
              (click)="eliminar(element.id)"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
  