<div class="container">
    <div class="title-container">
      <h1>Lista de Interacciones</h1>
    </div>
  <!--cars de material-->
    <div class="card-container" >
      <mat-card *ngFor="let element of dataSource.data">
        <mat-card-header>
          <mat-card-title>{{ element.idType.type }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Código de la interaccion: {{ element.id }}</p>
          <p>Fecha de la interaccion: {{ element.date }}</p>
          <p>Usuario que envia: {{ element.studentSender.username }}</p>
          <p>Usuario que recibe: {{ element.studentReceiver.username }}</p>
          <div class="button-container-right">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['ediciones-interacciones', element.id]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="eliminar(element.id)"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
  