<div class="container">
    <div class="title-container">
      <h1>Lista de Chats</h1>
    </div>
  
    <div class="card-container" >
      <mat-card *ngFor="let element of dataSource.data">
        <mat-card-header>
          <mat-card-title>{{ element.message }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Código del chat: {{ element.idChat }}</p>
          <p>Fecha del chat: {{ element.dateSend }}</p>
          <p>Usuario que envia: {{ element.idStudentSender.username }}</p>
          <p>Usuario que recibe: {{ element.idStudentRecipient.username }}</p>
          <div class="button-container-right">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['ediciones-chats', element.idChat]"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="eliminar(element.idChat)"
            >
              <mat-icon>delete_sweep</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
  