<div class="title-container"><h1 class="title">Registro de reuniones</h1></div>
<div class="container" style="text-align: center">
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    <mat-form-field class="example-full-width" *ngIf="edicionreunion">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="Codigo" formControlName="codigo" />
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="usuario">
        <mat-option *ngFor="let usu of listarusuarios" [value]="usu.idUser">
          {{ usu.username }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('usuario')?.hasError('required')"
        >El usuario obligatorio.</mat-error
      >
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
        <mat-label>Horarios</mat-label>
        <mat-select formControlName="horario">
          <mat-option *ngFor="let h of listahorarios" [value]="h.idSchedule">
            {{ h.weekDay }} - {{ h.startHour }} - {{ h.finishHour }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('horario')?.hasError('required')"
          >El horario es obligatorio.</mat-error
        >
    </mat-form-field>

    <br />
    <button mat-raised-button color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/reuniones">
      Cancelar
    </button>
  </form>
</div>
