<div class="title-container">
    <div class="title-container"><h1>Registro de Tipo de Interacciones</h1></div>
    <form [formGroup]="form" (submit)="registrar()">

      <mat-form-field appearance="fill" *ngIf="ediciontipo">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Código" formControlName="codigo" readonly/>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Tipo de interaccion" formControlName="tipo" />
        <mat-error *ngIf="form.get('tipo')?.hasError('required')">
          El tipo de interaccion es obligatorio.</mat-error
        >
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary" routerLink="/tipo-interacciones">Aceptar</button> 
      <button mat-raised-button color="warn" routerLink="/tipo-interacciones">Cancelar</button>
    </form>
</div>
  